@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Habibi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Timmana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suwannaphum:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
    font-family: 'Source Sans 3', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Source Sans 3', sans-serif;
  }
}

@font-face {
  font-family: 'Avenir';
  src: url('https://fonts.cdnfonts.com/css/avenir') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.font-helvetica {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif !important;
}

.font-dm-sans {
  font-family: 'DM Sans', sans-serif !important;
}

.font-eb-garamond {
  font-family: 'EB Garamond', serif !important;
}

.font-source-code-pro {
  font-family: 'Source Code Pro', monospace !important;
}

.font-share-tech {
  font-family: 'Share Tech', sans-serif !important;
}

.font-niconne {
  font-family: 'Niconne', cursive !important;
}

.font-rubik-scribble {
  font-family: 'Rubik Scribble', system-ui !important;
}

.font-habibi {
  font-family: 'Habibi', serif !important;
}

.font-anek-gurmukhi {
  font-family: 'Anek Gurmukhi', sans-serif !important;
}

.font-oswald {
  font-family: 'Oswald', sans-serif !important;
}

.font-roboto-slab {
  font-family: 'Roboto Slab', serif !important;
}

.font-urbanist {
  font-family: 'Urbanist', sans-serif !important;
}

.font-bree-serif {
  font-family: 'Bree Serif', serif !important;
}

.font-courgette {
  font-family: 'Courgette', cursive !important;
}

.font-permanent-marker {
  font-family: 'Permanent Marker', cursive !important;
}

.font-suwannaphum {
  font-family: 'Suwannaphum', serif !important;
}

.font-poppins {
  font-family: 'Poppins', sans-serif !important;
}

.font-encode-sans-sc {
  font-family: 'Encode Sans SC', sans-serif;
}

.font-lexend {
  font-family: 'Lexend', sans-serif;
}

.font-dm-serif-display {
  font-family: 'DM Serif Display', serif;
}

.font-domine {
  font-family: 'Domine', serif;
}

.font-protest-revolution {
  font-family: 'Protest Revolution', sans-serif !important;
}

.font-chelsea-market {
  font-family: 'Chelsea Market', cursive !important;
}

.font-syne-mono {
  font-family: 'Syne Mono', monospace !important;
}

.font-source-sans {
  font-family: 'Source Sans 3', sans-serif !important;
}

.clip-triangle {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.golden-spiral {
  fill: none;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 2s ease forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes erupt {
  0% {
    transform: scaleX(0) translateX(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scaleX(1) translateX(20px);
    opacity: 0;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) scale(1);
  }

  50% {
    transform: translate(calc(var(--tw-translate-x) + 10px),
        calc(var(--tw-translate-y) - 10px)) scale(1.2);
  }
}

@keyframes ping {

  75%,
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes eruption {
  0% {
    transform: scale(0.8) translateY(20px);
    opacity: 0;
  }

  50% {
    transform: scale(1.1) translateY(-10px);
    opacity: 1;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}