@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white;
  }

  body {
    font-family: 'Avenir', sans-serif;
    font-style: normal !important;
  }

  * {
    font-style: normal !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Avenir', sans-serif;
  }
}

@font-face {
  font-family: 'Avenir';
  src: url('https://fonts.cdnfonts.com/css/avenir') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.font-avenir {
  font-family: 'Avenir', sans-serif !important;
}


.clip-triangle {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.golden-spiral {
  fill: none;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 2s ease forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes erupt {
  0% {
    transform: scaleX(0) translateX(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scaleX(1) translateX(20px);
    opacity: 0;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) scale(1);
  }

  50% {
    transform: translate(calc(var(--tw-translate-x) + 10px),
        calc(var(--tw-translate-y) - 10px)) scale(1.2);
  }
}

@keyframes ping {

  75%,
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes eruption {
  0% {
    transform: scale(0.8) translateY(20px);
    opacity: 0;
  }

  50% {
    transform: scale(1.1) translateY(-10px);
    opacity: 1;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@layer components {
  .emphasis-fade {
    animation: emphasisFade 2s ease-in-out infinite;
  }

  @keyframes emphasisFade {
    0% {
      opacity: 0.3;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0.3;
    }
  }
}